<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="LibSystemEAR">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="LibSystemJAR.jar" deploy-path="/lib" handle="module:/resource/LibSystemJAR/LibSystemJAR">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="LibSystemEJB.jar" deploy-path="/" handle="module:/resource/LibSystemEJB/LibSystemEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="LibSystemWEB.war" deploy-path="/" handle="module:/resource/LibSystemWEB/LibSystemWEB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
